[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
cryptography = "*"
cybrid-api-bank-python = "*"
jwcrypto = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
