[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13.1"

[packages]
cybrid-api-bank-python = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
ruff = "*"
mypy = "*"
pylint = "*"
